<% @friends.each do |friend| %>
<div class="card-wrap">
  <div class="card">
    <div class="card-content">
      <div class="card-title"><%= friend.name %></div>
      <div class="card-desc" role="textbox">
        <%= friend.note %>
      </div>
    </div>
    <div class="custom-space"></div>
  </div>
</div>
<% end %>
