<% @friends.each do |friend| %>
<div class="card-wrap">
  <div class="card">
    <div class="card-content">
      <div class="card-title"><%= friend.name %></div>
      <div class="card-desc" role="textbox">
        <%= friend.note %>
      </div>
    </div>
    <div class="custom-space"><img border="0" src="<%= friend.url.nil? ? "https://app-public.ds.jp-east.idcfcloud.com/images/event/6836178dcb95cb060b382661c66fb493a82a6664.png":friend.url %>" width="128" height="128" alt=""></div>
  </div>
</div>
<% end %>
